/*-----------------------------
	Utskrifts-css
-----------------------------*/

body { /*Ger utskrifter ett mer läsvänligt typsnitt.*/
	font: 12pt "Times New Roman", Times, serif;
	width: 100%;
	background-color: white;
}
a, p { /*Tar bort alla detaljer från länkar.*/
	color: black;
	text-decoration: none;
}
h1 {
	font-size: 24pt;
	font-weight: bold;
	text-align: center;
}
header {
	border-bottom: 2pt solid black;
} /*Headerbilden och nav behövs inte*/
header figure, nav{
	display: none;
}
main {
	position: relative;
}
main p {
	padding-left: 16pt;
}
#leftColumn, #rightColumn {
	width: 50%;
	float: left;
}
h2, h3{
	top: 16pt;
	font-size: 20pt;
	font-weight: bold;
	margin-left: 16pt;
}
#rightImage {
	padding-top: 40pt;
}
figure { /*Bilder och deras bildtexter ska inte kunna delas.*/
	margin-left: 16pt;
	page-break-inside: avoid;
}
img {
	width: 100%;
}/*Strecket mellan de båda kolumnerna*/
#leftColumn:after{
	background: black;
	width: 2pt;
	content: "";
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 49%;
	height: 100%;
}
.clear {
	clear: both;
}
/*-----------------------------
	Table
-----------------------------*/
/*Detta är samma som från "style.css"*/
table {
	border-collapse: collapse;
	width: 90%;
	padding: 16pt;
	border: 1pt solid black;
}

th {
	font-weight: bold;
}

table caption {
	font-weight: bold;
	font-size: 110%;
	margin: 3pt;
}

table, th, td, tr {
	text-align: center;
	padding: 2pt;
}

tr {
	border-bottom: 1pt solid black;
}

tr:last-child{
		border: 0;
	}

td:nth-child(even), th:nth-child(even) {
	background-color: #ddd;
}

tr th:nth-child(1) {
	text-align: left;
	padding-left: 2pt;
}