/*-----------------------------
	Css för mobiler och pekplattor
-----------------------------*/

/*-----------------------------
	Screensize -1100px
-----------------------------*/

/*Detta är för tablets och telefoner*/
@media only screen and (max-width: 1100px){
	#wrapper{ /*Sidan ska ta upp hela sidbredden nu.*/
		width: 100%;
		border: 0;
	}
	header{ /*Inga fler ramar till sidorna behövs. position behövs för att placera h1 rätt.*/
		border: 0;
		position: relative;
	}
	h1 { /*Placerar h1 centrerat vertikalt i headern.*/
		position: absolute;
		margin: 0;
		margin-left: 165px;
		top: 50%;
		transform: translate(0, -50%);
	} /*Om headern eller nav hamnar utanför sidan till vänster klipps de av.*/
		header, nav{
		overflow: hidden;
		text-overflow: clip; 
	}
	nav { /*Nu tar nav upp hela sidbredden...*/
		float: none;
		width: 100%;
		margin: 0;
	}
	nav a { /*...Och får mycket större storlek.*/
		height: 40px;
		font-size: 200%;
	}
	nav ul { /*Ser till att det inte blir några pluppar framför varje länk.*/
		text-align: center;
		list-style-type: none;
		padding: 0;
	}
	nav li {
		border-top: 3px solid black;
	}
	main {
		width: 100%;
		margin: 0;
 		border: 0;
		border-top: 3px solid black;
	}
	main p {
		margin: 20px;
		}
	main img { /*Nu tar bilderna upp hela sin kolumn.*/
		width: 100%;
	}
	#leftColumn, #rightColumn { /*Kolumnerna konkurrerar inte längre med nav och därmed kan de vara 50% nu.*/
		width: 50%;
		margin: 0;
	}
	#leftColumn:after{ /*Strecket mellan de två kolumnerna*/
		 background: black;
		 width: 3px;
		 content: "";
		 display: block;
		 position: absolute;
		 top: 0;
		 bottom: 0;
		 left: 49%;
		 height: 100%;
	}
	footer {
		border-bottom: 0;
	}
}
/*-----------------------------
	Screensize -500px
-----------------------------*/ 
/*Detta är bara för mobiltelefoner*/
@media only screen and (max-width: 500px){
	#leftColumn:after{ /*Inget streck i mitten på mobiler*/
		background: 0;
	}
	#leftColumn, #rightColumn { /*Ser till att båda kolumnerna blir en.*/
		width: 100%;
	}
}
/*-----------------------------
	Tables
-----------------------------*/

/*Koden under ser till att tabellen på startsidan inte kan ta upp mer plats än vad som finns tillgänglig i kolumnen.*/
@media only screen and (max-width: 788px) and (min-width: 500px)  {
	.secondColumn {
		display: none;
		visibility: hidden;
	}
}
@media only screen and (max-width: 698px) and (min-width: 500px)  {
	.thirdColumn {
		display: none;
		visibility: hidden;
	}
}
@media only screen and (max-width: 607px) and (min-width: 500px)  {
	.fourthColumn {
		display: none;
		visibility: hidden;
	}
}
@media only screen and (max-width: 517px) and (min-width: 500px)  {
	.fifthColumn {
		display: none;
		visibility: hidden;
	}
}
@media only screen and (max-width: 387px) {
	.secondColumn {
		display: none;
		visibility: hidden;
	}
}
@media only screen and (max-width: 343px) {
	.thirdColumn {
		display: none;
		visibility: hidden;
	}
}
@media only screen and (max-width: 299px) {
	.fourthColumn {
		display: none;
		visibility: hidden;
	}
}