body{ /*Det här ger sidan en grön-randig bakgrund */
	font: 1em Verdana, Geneva, sans-serif;
	min-height: 100vh;
	background-color: #afa;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, rgba(0,127,0,.2) 10px, rgba(0,127,0,.2) 20px);
}

#wrapper { /*Här avgränsar jag sidan som jag faktiskt vill använda. Det blir så jobbigt att läsa på stora skärmar annars.*/
	width: 1100px;
	margin: auto;
	border-left: 3px black solid;
	border-right: 3px black solid;
	background-color:#eef;
}
a:focus { /*Ser till att förtydliga när man markerar en länk.*/
	box-shadow: 0px 0px 5px black;
	outline: none;
}
.clear { /*För att skilja åt sidan i olika horisontella delar.*/
	clear: both;
}


/*-----------------------------
	Header
-----------------------------*/

header { /*En header med en satt höjd.*/
	height: 120px;
	border-bottom: 3px black solid;
	border-top: 3px black solid;
}

h1 { 
	margin: 40px;
	margin-left: 200px;
	font-size: 2em;
	font-weight: bold;
}

header a:focus{ /*Ser till att rubriken också blir tydlig när den blir markerad. Eftersom hela header är klickbar så får det bli denna effekt istället.*/
	text-decoration: underline;
	font-weight: bold;
	outline: none;
}

header figure{ /*Bilden i headern ligger längst till vänster.*/
	float: left;
	margin: 0;
	width: 160px;
	height: 120px;
	padding: 0;
	border-right: 3px solid black;
}

header a { /*Allt i headern är en länk, det blir inget snyggt om den sticker ut under mouseover.*/
	text-decoration: none;
	color: #000;
}

/*-----------------------------
	Nav
-----------------------------*/

nav{ /*Längst till vänster på huvudsidan*/
	width: 160px;
	float: left;
	margin-top: 10px;
}

nav a {
	display: block;
	text-decoration: none;
	color: #000;
	margin: 2px;
}

nav a:hover, nav a:focus { /*Blir lite snyggare när man håller musen över och klickar på länkar.*/
	text-decoration: underline;
	font-weight: bold;
}

nav ul{ /*Definiera navigationens utseende*/
	padding-left: 20px;
	list-style-type: circle;
}

#active{ /*Se till att sidan man är på sticker ut.*/
	font-weight: bold;
}

/*-----------------------------
	Main
-----------------------------*/

main { /*Eftersom jag skrev att bakgrundsfärgen till hela wrappern skulle vara blå så ändrar jag så att huvudinnehållet ska ha vit bakgrund. Relative behövs för att mittstrecket ska hamna rätt.*/
	margin-left: 160px;
	width: auto;
	border-left: 3px black solid;
	background-color: #fff;
	position: relative;
}

#leftColumn, #rightColumn { /*De två olika kolumnerna delas upp parallellt här*/
	width: 45%;
	margin: 20px;
	float: left;
	padding-top: 20px;
}

h2, h3{
	top: 20px;
	font-size: 1.5em;
	font-weight: bold;
}

main a { /*Ser till att man kan klicka på hela länkområdet istället för bara en liten del*/
	display: block;
	text-decoration: none;
	color: #000;	
}

main a:hover, main a:focus { /*Snyggifierar för mouseover och tabb. Jag använder text-shadow istället för font-weight för att texten inte ska bli större.*/
	text-decoration: underline;
	text-shadow: 1px 0px black;
}

main figure { /*Ger bilderna lite plats emellan sig*/
	margin: 0;
	margin-bottom: 100px;
}

figcaption {
	padding: 5px;
}

#leftColumn:after{ /*Gör ett streck mellan de två kolumnerna*/
 background: black;
 width: 3px;
 content: "";
 display: block;
 position: absolute;
 top: 0;
 bottom: 0;
 left: 48%;
 height: 100%;
}

#rightImage { /*På en av sidorna finns ingen rubrik som tar upp plats. Då ser jag till att lägga till detta för att kolumnera ska starta på samma ställe*/
	padding-top: 29px;
}

iframe { /*Kartan på "hittahit.html" Verkade ta upp mer än 100%. så nu är den lite mindre.*/
	width: 99%;
	height: 300px;
}


/*-----------------------------
	Table
-----------------------------*/

table {
	border-collapse: collapse;
	width: 90%;
	margin-top: 10px;
	border: 1px solid black;
	font-size:90%;
}

th {
	font-weight: bold;
}

table caption {
	font-weight: bold;
	font-size: 110%;
	margin: 5px;
}

table, th, td, tr {
	text-align: center;
	padding: 2px;
}

tr {
	border-bottom: 1px solid black;
}

tr:last-child{ /*Ser till att sista raden inte får dubbel nerkant.*/
		border: 0;
	}

td:nth-child(even), th:nth-child(even) { /*Ser till att varannan rad får grå bakgrund*/
	background-color: #ddd;
}

tr th:nth-child(1) { /*Ser till att Rubrikerna på vänstersidan håller sig till vänster. */
	text-align: left;
	padding-left: 3px;
}

/*-----------------------------
	Form
-----------------------------*/

form {
	width: 100%;
}

fieldset { /*Tar bort ramen för formuläret*/
	width: 90%;
	margin: 20px;
	border: 0;
}

input, select, textarea{ /*Ger textraderna en grå ram.*/
	border: 4px solid #ccc;
}

input:focus, select:focus, textarea:focus { /*Gör ramen lite mörkare när den är markerad*/
	border: 4px solid #aaa;
}

input[type="email"], select , textarea{ /*Ser till att alla inputrader blir lika långa*/

	width: 100%;
	display: block;
	box-sizing: border-box;
}

textarea { /*Storifierar meddelandeboxen.*/
	min-height: 150px;
	resize: none;
}

legend { /*Gör Rubriken för formuläret "osynligt".*/
	position: absolute;
	top: -1000px;
}

/*-----------------------------
	Footer
-----------------------------*/

footer {
	clear: both;
	padding: 10px;
	border-top: 3px black solid;
	border-bottom: 3px black solid;
}
